@import "../../responsive.scss";

.homePage{
    display: flex;
    height: 100%;

    .textContainer{
        flex: 3;
        .wrapper{
            padding-right: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            height: 100%;
            @include md{
                padding: 0;
            }
            @include sm{
                justify-content: flex-start;
            }
            
            .title{
                font-size: 30px;
            }
            @include lg{
                font-size: 20px;
            }
            .desc{
                @include sm{
                    font-size: smaller;
                    font-weight: lighter;
                }
            }
            .boxes{
                display: flex;
                justify-content: space-between;

                @include sm{
                    display: none;
                }

                h2{
                    font-size: 30px;
                    @include lg{
                        font-size: 20px
                    }
                }

                h5{
                    font-weight: 200;
                }
            }
        }
    }
    .imgContainer{
        flex: 2;
        background-color: #fcf5f3;
        position: relative;
        display: flex;
        align-items: center;
        @include md{
            display: none;
        }
        img{
            width: 110%;
            position: absolute;
            right: 0;
        }
        @include lg{
            width: 90px;
        }
    }
}